{% extends "to_do/base.html" %}
{% block content %}
<div class="row">
	<div class="col-3 d-lg-none">
		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
			Add Task
		</button>
	</div>
	<div class="col-9 d-lg-none" style="text-indent: 20%">
		<h3>To Do List</h3>
	</div>
	<div class="col-lg-12 d-none d-lg-block text-center">
		<h3>To Do List</h3>
	</div>
</div>
<div class="row" style="margin-top:10px">
	<div class="col-lg-4">
		<h4 class="text-center">To Do</h4>
		<div id="div1" ondrop="drop(event, this)" ondragover="allowDrop(event)" class="text-primary font-weight-bold">
		</div>
	</div>
	<div class="col-lg-4">
		<h4 class="text-center">In Progress</h4>
		<div id="div1" ondrop="drop(event, this)" ondragover="allowDrop(event)" class="text-warning font-weight-bold">
		</div>
	</div>
	<div class="col-lg-4">
		<h4 class="text-center">Done</h4>
		<div id="div1" ondrop="drop(event, this )" ondragover="allowDrop(event)" class="text-success font-weight-bold">
		</div>
	</div>
</div>
<div class="row" style="margin:10px 0px 40px">
	<div class="col d-none d-lg-block">
		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
			Add Task
		</button>
	</div>
</div>
</div>
<div class="modal" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">New Task</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body form-group">
				<textarea id="task_content" class="form-control" rows="5"></textarea>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button id="addTask" type="button" class="btn btn-success" data-dismiss="modal">Add</button>
			</div>
		</div>
	</div>
</div>
<div class="dropdown-menu dropdown-menu-sm" id="context-menu">
  <div class="dropdown-item" id="edititem">Edit</div>
  <div class="dropdown-item" id="deleteitem">Delete</div>
</div>
{% endblock content %}